<div class="container">
  <h1>dbc Notes</h1>
  <br>
  <% @notes.each do |note| %>
    <p> Title: <%= note.title %> (<%= note.id %>)</p> 
    <p> Description: <%= note.content %></p>
    <form method="get" action="/notes/<%= note.id %>/edit">
      <input type="submit" value="edit" name="edit">
    </form>
    <form method="post" action="/notes/<%= note.id %>">
      <input name="_method" type="hidden" value="delete">
      <input type="submit" value="delete" name="delete">
    </form>
  <% end %> 
  <br><br>
  <form action="/notes" method="post">
    <p>+ New Note:</p> 
    <input type="text" name="title" placeholder="Title">
    <p><textarea rows="4" cols="50" name="content" placeholder="Enter description here..."></textarea></p> 
    <br>
    <input type="submit" value="submit">
  </form>
  
</div>


